<h2 class="text-center">Gear</h2>

<div class="container">
    <button class="btn btn-success mb-3" (click)="openAddDialog()">+ Add Gear</button>

    <!-- Überschriften -->
    <div class="d-none d-md-flex fw-bold border-bottom py-2 bg-light">
        <div class="col-md-2">Category</div>
        <div class="col-md-2">Title</div>
        <div class="col-md-2">Description</div>
        <div class="col-md-1">H/L/W</div>
        <div class="col-md-1">Packed H/L/W</div>
        <div class="col-md-1">Weight</div>
        <div class="col-md-1">Manufacturer</div>
        <div class="col-md-1">Price</div>
        <div class="col-md-2 text-end">&nbsp;</div>
    </div>

    <!-- Datenzeilen -->
    <div *ngFor="let item of items; index as itemIndex" class="d-flex flex-wrap border-bottom py-2 align-items-center">
        <div class="col-md-2">{{ item.category?.name }}</div>
        <div class="col-md-2"><b>{{ item.name }}</b> 
            <a [href]="item.articleLink" target="_blank" rel="noopener noreferrer" class="ms-1 text-decoration-none">↗</a>
            </div>
        <div class="col-md-2">{{ item.description }}</div>
        <div class="col-md-1">
            {{ item.articleMeasure?.height }}/{{ item.articleMeasure?.length }}/{{ item.articleMeasure?.width }}
        </div>
        <div class="col-md-1">
            {{ item.packedMeasure?.height }}/{{ item.packedMeasure?.length }}/{{ item.packedMeasure?.width }}
        </div>
        <div class="col-md-1">{{ item.weight }}</div>
        <div class="col-md-1">{{ item.manufactorer }}</div>
        <div class="col-md-1 text-end" >{{ item.paidPrice | currency:'EUR':'symbol'  }}</div>
        <div class="col-md-1 text-end">
            <button class="btn btn-sm btn-success me-1" (click)="openEditDialog(item, itemIndex)">Edit</button>
            <button class="btn btn-outline-danger " (click)="deleteItem(itemIndex)"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    
</div>
<div *ngIf="confirmDeleteIndex !== null" class="confirmation-dialog">
    <div class="dialog-content">
      <p>Do you really want to delete this category?</p>
      <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-danger" (click)="confirmDelete()">Yes, delete</button>
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
</div>