.btn-group .btn {
  margin: 0.25rem;
}


.category-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category-flex button {
  flex: 1 1 150px;
  text-align: center;
  white-space: normal;
  min-height: 3.5rem;
}

.card-header {
  background-color: hsl(126, 76%, 80%) !important;
}